body {
   font-family: 'Fira Sans', sans-serif;
    
}

.header {
    position: fixed;
    z-index: 1;
    height: 60px;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 3px 0 3px black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-side ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    
}

.menu-toggle {
    display: none;
    cursor: pointer;
}
.menu-close {
    display: none;
    cursor: pointer;
}


.menu-side ul li a {
    color: #454545;
    text-decoration: none;
    padding-right: 20px;
    
}

.social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.social-icons li a {
    color: #5d5d5d;
    padding: 0 20px;
    
}

.social-icons li a:nth-child(1) {
    padding-left: 0;
}

.social-icons li a i {
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.about {
    margin-top: 60px;
    background: url('../img/about-bg.jpg');
    background-size: cover;
    background-position: center bottom;
    padding: 100px 0;
    margin-bottom: 1000px;
}



.about h2 {
    font-size: 60px;
    line-height: 1;
    margin: 0;
    letter-spacing: 3px;
    font-weight: 400;
}

.about p {
    font-size: 36px;
    padding-bottom: 30px;
    line-height: 1;
    padding-left: 108px;
 
}

@media (max-width: 768px) {
    
   .menu-side {
        position: fixed;
        width: 300px;
        left: -300px;
        top: 0;
        height: 100%;
        overflow-y: scroll;
        background-color: white;
        -webkit-transition: left 0.2s ease-in-out;
        transition: left 0.2s ease-in-out;
        
    }
    
    .menu-side ul {
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0;
    }
    
    .menu-side ul li {
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid white;
        
    }
    .menu-side ul li:nth-child(2) {
        margin-top: 40px;
    }
    
    
    .menu-toggle {
        display: block;
        margin-left: 20px;
    }
    
    .menu-toggle i {
        color: #454545;
        font-size: 30px;
    }
    
    .menu-close {
        display: inline;
        text-align: left;
        margin-left: 20px;
        color: #525252;
    }
    .menu-open {
        left: 0px;
    }
    
    .about {
        padding: 50px 0;
        text-align: center;
        
    }
    .about p {
       padding: 0;
       
    }
    
    .about h2 {
        font-size: 66px;
        line-height: 0.9;
    }

}

@media (max-width: 500px) {
    .menu-side {
       
        width: 100%;
        left: -100%;
    }
    
    .menu-open {
        left: 0px;
    }

}

@media (max-width: 315px) {
    .about h2 {
        font-size: 52px;
    }
    
    .about p {
        font-size: 32px;
    }
}

